html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
    background-color: beige;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.numerical-button {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border: 1px solid #999;
    display: flex;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.bottom-buttons{
    width: 250px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}